<div class="block">
  <h3>About</h3>
  <div class="content">
	<p>If you like the script, it's source is on <%= link_to "github", "http://github.com/Alistra/Imgur-Directory-Listing" %>.</p>
  </div>
</div>
<div class="block">
  <h3>Links</h3>
  <ul class="navigation">
	  <li><%= link_to "RSS Feed", images_url(:rss) %></li>
  </ul>
</div>
